._29hl ._5l37, ._2y8_, ._3rh0, ._4eby, ._4gd0,
._4lh2, ._4sp8, ._4t2a, ._53ij, ._558b ._54ng, ._7mkm,
._58al {
    background-color: #252525 !important;
}

._33p7 {
    background-color: rgba(37, 37, 37, .95)
}

._4rv3 {
    border-top: 1px solid rgba(142, 142, 142, 0.38) !important;
}

._1t2u {
    border-left: 1px solid rgba(142, 142, 142, 0.38) !important;
}

._673w {
    box-shadow: 0 1px 2px 0 rgba(68, 68, 68, 0.38) !important;
}

._-bo, ._19jt, ._1ht3 ._1htf,._28he,._2ogt._6yb-, ._2v6o, 
._2y8z, ._364g, ._374c, ._374d, ._39r6, ._39r7, ._3blk, 
._3bll._6ybw a, ._3eur._6ybk a, ._3eus, ._3oh-, ._3q34, ._3q35, 
._3szq, ._4g0h, ._4ik5._4ik4,._4k7a, ._4lhb,._4ng2, ._4rpj, 
._54nh, ._5bxm, ._5i_d .__6m, ._5rpu, ._5u15, ._5uh, ._6cs7, 
._6ct8._6y58, ._6ybl, ._1ht6, ._hh7 a, .timestamp, button, 
h1, h2, h3, h4, h5, input, input::placeholder, time._3oh- {
    color: #ccc !important
}

._4lh2 {
    border: transparent
}

._2pgc, ._30e7 ._5j5f, ._58al, ._hh7:not(._6ybp) {
    background-color: rgba(154, 154, 154, 0.08);
}

._30e7 ._5j5f {
    border-radius: 5px
}

._2pgc {
    border-color: #818488
}

._1uwz, ._5r8a._5r8b {
    background-color: #5a5a5a
}

path {
    fill: rgb(138, 135, 135)!important;
}

._59s7 {
    background-color: transparent!important
}

._1liy ._1lj0:hover, ._29hl div.clearfix:hover {
    background-color: #505050!important
}

._6y4z {
    background-color: #fff!important
}

._4rv6, a._4ce_ {
    filter: invert(100%);
    opacity: .6
}